In [1]:
import numpy as np
import pandas as pd

In [2]:
!ls

DataCleaning.ipynb      generate_sigmoid.py     soy_blossum_model.h5
__pycache__             labels_translator.py    soya_modeling.ipynb
aggragate_per_plant.py  obr.R                   soya_modeling.py
aggregate_per_exp.py    old_temp.zip            tf_model_build.py
data_extractor.py       prepare_daytime_data.py tf_model_predict.py
data_transformer.py     prepare_temp_data.py    utils.py
dataset                 py_model_wrapper
date_formater.py        rp5-convert.R

In [12]:
dates_columns = ['посев-дата', 'всх-дат', 'цвет-дата']

In [13]:
raw = pd.read_excel('dataset/new_data.xls', parse_dates=dates_columns)

In [14]:
raw.head(5)

,п.п.,№1-1,к,Название,Происхождение,мес реп,год,№ раст,№ дел,посев,...,t всх-ц,ос всх-ц,t всх-убор,ос всх-убор,биох есть,белок,масло,бобы в верх кисти (код),состоян на мом убор(код),окраска цветка (код)
0,1,41к10044,10044,СибНИИСХ 6,Россия,Пушкин,2004.0,1,19,1.0,...,619.2,119.7,1725.1,183.2,биох есть,44.6,15.6,8.0,2.0,7.0
1,2,41к10044,10044,СибНИИСХ 6,Россия,Пушкин,2004.0,3,19,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,41к10044,10044,СибНИИСХ 6,Россия,Пушкин,2004.0,4,19,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,41к10044,10044,СибНИИСХ 6,Россия,Пушкин,2004.0,5,19,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,41к10044,10044,СибНИИСХ 6,Россия,Пушкин,2004.0,6,19,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
raw[dates_columns].head(5)

  посев-дата    всх-дат  цвет-дата
0 2004-05-11 2004-06-07 2004-07-16
1        NaT        NaT        NaT
2        NaT        NaT        NaT
3        NaT        NaT        NaT
4        NaT        NaT        NaT

In [16]:
raw.columns

Index(['п.п.', '№1-1', 'к', 'Название', 'Происхождение', 'мес реп', 'год',
       '№ раст', '№ дел', 'посев', 'повтор', 'посев-дата', 'всх-дат',
       'цвет-дата', 'уборка-дата', 'пос-всх', 'всх-цвет', 'цв-уб', 'всх-убор',
       'дл лис', 'шир лис', 'h 1 б.', 'дл г п', 'дл б п', 'бок к гл',
       'чис б п', 'побег', 'узл г п', 'узл б п', 'узл', 'узл прод', 'дл межд',
       'всего-б', 'боб в уз', 'сфор-б', 'сфор б%', 'несф-б', 'вес с/р',
       'М 1000 с', 'сем 1 б', 'урож', 't пос-вс', 'ос п-всх', 't всх-ц',
       ' ос всх-ц', 't всх-убор', 'ос всх-убор', 'биох есть', 'белок', 'масло',
       'бобы в верх кисти (код)', 'состоян на мом убор(код)',
       'окраска цветка (код)'],
      dtype='object')

In [17]:
useful_columns = ['к', 'Название', 'мес реп', 'Происхождение',
                  'посев-дата', 'всх-дат', 'цвет-дата',
                  'пос-всх', 'всх-цвет', 'урож', 'белок', 'масло']

In [18]:
selected_raw = raw[useful_columns]

In [19]:
selected_raw.head(5)

,к,Название,мес реп,Происхождение,посев-дата,всх-дат,цвет-дата,пос-всх,всх-цвет,урож,белок,масло
0,10044,СибНИИСХ 6,Пушкин,Россия,2004-05-11,2004-06-07,2004-07-16,27.0,39.0,190.92,44.6,15.6
1,10044,СибНИИСХ 6,Пушкин,Россия,NaT,NaT,NaT,NaN,NaN,153.18,NaN,NaN
2,10044,СибНИИСХ 6,Пушкин,Россия,NaT,NaT,NaT,NaN,NaN,266.40,NaN,NaN
3,10044,СибНИИСХ 6,Пушкин,Россия,NaT,NaT,NaT,NaN,NaN,217.56,NaN,NaN
4,10044,СибНИИСХ 6,Пушкин,Россия,NaT,NaT,NaT,NaN,NaN,333.00,NaN,NaN

In [26]:
selected_raw.describe()

,к,пос-всх,всх-цвет,урож,белок,масло
count,3604.000000,397.000000,397.000000,3604.000000,194.000000,194.000000
mean,9483.572142,14.269521,38.662469,200.139431,41.645361,17.112371
std,1685.955717,5.062778,5.117007,108.161583,3.434585,2.050338
min,5589.000000,7.000000,21.000000,0.000000,27.400000,13.800000
25%,9659.000000,12.000000,36.000000,122.100000,39.700000,15.725000
50%,9959.000000,13.000000,40.000000,188.700000,42.050000,16.600000
75%,10655.000000,16.000000,42.000000,264.180000,44.000000,17.875000
max,10680.000000,27.000000,50.000000,1043.400000,49.700000,24.400000

All values are present:

In [23]:
filtered_hard = selected_raw.dropna()

In [24]:
filtered_hard.head(5)

,к,Название,мес реп,Происхождение,посев-дата,всх-дат,цвет-дата,пос-всх,всх-цвет,урож,белок,масло
0,10044,СибНИИСХ 6,Пушкин,Россия,2004-05-11,2004-06-07,2004-07-16,27.0,39.0,190.92,44.6,15.6
18,10388,Соер 13-91,Пушкин,Россия,2004-05-11,2004-06-07,2004-07-19,27.0,42.0,366.30,43.4,16.7
34,10623,Мадева,Пушкин,Россия,2004-05-11,2004-06-07,2004-07-24,27.0,47.0,428.46,46.5,15.5
38,10658,ПЭП 26,Пушкин,Россия,2004-05-11,2004-06-07,2004-07-21,27.0,44.0,266.40,43.4,15.8
55,10659,ПЭП 27,Пушкин,Россия,2004-05-11,2004-06-07,2004-07-16,27.0,39.0,248.64,27.8,16.2

In [25]:
filtered_hard.values.shape

(193, 12)

Dataset only for protein and oil

In [30]:
filtered_protein = selected_raw.dropna(subset=['белок', 'масло'])

In [31]:
filtered_protein.head(5)

,к,Название,мес реп,Происхождение,посев-дата,всх-дат,цвет-дата,пос-всх,всх-цвет,урож,белок,масло
0,10044,СибНИИСХ 6,Пушкин,Россия,2004-05-11,2004-06-07,2004-07-16,27.0,39.0,190.92,44.6,15.6
18,10388,Соер 13-91,Пушкин,Россия,2004-05-11,2004-06-07,2004-07-19,27.0,42.0,366.30,43.4,16.7
34,10623,Мадева,Пушкин,Россия,2004-05-11,2004-06-07,2004-07-24,27.0,47.0,428.46,46.5,15.5
38,10658,ПЭП 26,Пушкин,Россия,2004-05-11,2004-06-07,2004-07-21,27.0,44.0,266.40,43.4,15.8
55,10659,ПЭП 27,Пушкин,Россия,2004-05-11,2004-06-07,2004-07-16,27.0,39.0,248.64,27.8,16.2

In [32]:
filtered_protein.describe()

,к,пос-всх,всх-цвет,урож,белок,масло
count,194.000000,194.000000,194.000000,194.000000,194.000000,194.000000
mean,9512.974227,14.525773,39.128866,216.724175,41.645361,17.112371
std,1694.473842,5.200823,4.253483,111.047346,3.434585,2.050338
min,5589.000000,7.000000,25.000000,11.100000,27.400000,13.800000
25%,9659.000000,12.000000,36.000000,142.080000,39.700000,15.725000
50%,10001.500000,13.000000,40.000000,199.800000,42.050000,16.600000
75%,10657.250000,15.750000,42.000000,288.600000,44.000000,17.875000
max,10680.000000,27.000000,47.000000,517.260000,49.700000,24.400000

In [38]:
filtered_protein.to_csv('protein_dataset_raw.csv')

Dataset only for dates

In [34]:
filtered_dates = selected_raw.drop(columns=['белок', 'масло']).dropna()

In [35]:
filtered_dates.head(5)

,к,Название,мес реп,Происхождение,посев-дата,всх-дат,цвет-дата,пос-всх,всх-цвет,урож
0,10044,СибНИИСХ 6,Пушкин,Россия,2004-05-11,2004-06-07,2004-07-16,27.0,39.0,190.92
9,10044,СибНИИСХ 6,Пушкин,Россия,2004-05-11,2004-06-07,2004-07-13,27.0,36.0,128.76
18,10388,Соер 13-91,Пушкин,Россия,2004-05-11,2004-06-07,2004-07-19,27.0,42.0,366.30
26,10388,Соер 13-91,Пушкин,Россия,2004-05-11,2004-06-07,2004-07-16,27.0,39.0,288.60
34,10623,Мадева,Пушкин,Россия,2004-05-11,2004-06-07,2004-07-24,27.0,47.0,428.46

In [36]:
filtered_dates.describe()

                  к     пос-всх    всх-цвет        урож
count    395.000000  395.000000  395.000000  395.000000
mean    9520.835443   14.232911   38.658228  213.561949
std     1661.474121    5.034039    5.129506  112.007204
min     5589.000000    7.000000   21.000000    0.000000
25%     9659.000000   12.000000   36.000000  133.200000
50%     9960.000000   13.000000   40.000000  202.020000
75%    10655.000000   15.000000   42.000000  288.600000
max    10680.000000   27.000000   50.000000  570.540000

In [37]:
filtered_dates.values.shape

(395, 10)

In [39]:
filtered_dates.to_csv('dates_dataset_raw.csv')